{{! Description Tab }}
<section
  class='tab {{tab.cssClass}}'
  data-group='primary'
  data-tab='description'
>
    <div class="description">
        <div class='grid grid-5col'>
            {{! Lefthand column in frame}}
            <div class="grid-span-1">
                <label class="label">Description</label>
            </div>
            <div class="grid-span-4">
              {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
              {{#if editable}} 
                <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
                  {{{enrichedDescription}}}
                </prose-mirror>
              {{else}} {{{enrichedDescription}}}
              {{/if}}
            </div>
        </div>
    </div>
</section>